* {
    background-color: black;
    color: aliceblue;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: aqua;
}
i{
    padding: 10px;
    color: aqua;
}
.container {
    text-align: center;
    margin-top: 200px;
}

input {
    border-color: aqua;
    box-shadow: 0px 5px 10px cyan;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
    background-color: rgb(13, 96, 107);
    padding: 12px;
    border-radius: 22px;
}
button:hover{
    color:aqua;
}

label {
    font-size: 22px;
    color: aqua;
}
